
ul {
  list-style: none;
  padding: 0px;
  width: 80%;
  padding-left: 10px;
  margin-left:  10px
}

ul li {
  text-align: center;
}

section {
  padding-top: 0.5em;
}

section div img {
  padding-top: 4em;
}

#qdimg {
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}


.even {
  background-color: rgb(150, 160, 240);
}

.recuo {
  margin-left: 1em;
}

.container .myButtons { /* to buttons not afect each other */
  position: relative;
}

.myButtons button {
  position: absolute;
}

div.myButtons button:last-child { /* make the next button fixed */
  margin-left: 8em;
}

/*
Media Query
*/
@media (max-width: 992px){
  .col-md-6 img {
    display: none;
  }
}
